@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;600;700&display=swap");
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mirza', cursive;
  background-color: #E5E5E5;
}

.scrollDown {
  position: absolute;
  top: 5em;
  left: 10em;
}

svg #wheel {
  -webkit-animation: scroll ease 1.5s infinite;
          animation: scroll ease 1.5s infinite;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

img.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 80vh;
  z-index: -1;
}

.mobile {
  display: none;
}

header .logo {
  width: 16em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 25em auto 8em auto;
  padding: 1em;
  z-index: 5;
  background-color: #FFF;
  border-radius: 1.8em;
}

header .logo h1 {
  color: #000;
  font-weight: lighter;
  font-family: Jomhuria, cursive;
  font-size: 4em;
  text-align: center;
  line-height: 1em;
}

header .logo img {
  position: relative;
  width: 100%;
}

main {
  margin: 0 4em 15em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  background-color: #FFF;
  border-radius: 1.8em;
  padding: 2em;
}

main h2 {
  color: #000;
  font-size: 2em;
  font-weight: 700;
  display: block;
}

main h3 {
  color: #C50A0A;
  font-weight: 600;
  font-size: 1.5em;
}

main p {
  color: #000;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 2.5em;
}

aside div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

aside div a {
  text-decoration: none;
  cursor: pointer;
}

aside div span {
  color: #C50A0A;
}

aside div h3 {
  font-size: 1.5em;
  color: #000;
}

aside div .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside div .card .flipcard {
  width: 19em;
  height: 23em;
  border-radius: 2.3em;
  -webkit-box-shadow: 10px 20px 40px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 20px 40px 2px rgba(0, 0, 0, 0.4);
  background: url(../images/RUTA2-3.jpg);
  -webkit-transition: background-image 0s linear .38s, -webkit-transform 1s linear;
  transition: background-image 0s linear .38s, -webkit-transform 1s linear;
  transition: transform 1s linear, background-image 0s linear .38s;
  transition: transform 1s linear, background-image 0s linear .38s, -webkit-transform 1s linear;
}

aside div .card .flipcard:hover {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
  background-image: url(../images/RUTA2-5.jpg);
}

footer {
  width: 100%;
  height: auto;
  margin: 15em auto;
  margin-bottom: 0;
  text-align: center;
}

footer fieldset {
  background-color: #FFF;
  position: relative;
  width: 20em;
  height: auto;
  border: 2px #C50A0A solid;
  border-radius: 2.8em;
  margin: 0 auto;
  padding: 2em;
}

footer fieldset legend {
  text-align: center;
  display: inline-block;
  color: #FFF;
  background-color: #E5E5E5;
  border-top: 2px #C50A0A solid;
  border-radius: 1.8em;
  font-size: 3em;
  -webkit-text-stroke: 2px #000;
  padding: .3em;
}

footer fieldset label[for="name"], footer fieldset label[for="message"] {
  font-size: 1.7em;
  font-weight: 400;
  display: inline-block;
  padding: 1em;
  text-align: center;
}

footer fieldset .input {
  border-radius: 1.8em;
  padding: 0.5em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #E5E5E5;
  font-family: cursive;
  font-weight: bold;
}

footer fieldset .input:focus {
  font-size: 1em;
  font-family: cursive;
  padding: 1em 0;
  margin: 1em 0;
  background-color: #c50a0aa1;
  color: #fff;
}

footer fieldset #no-name, footer fieldset #anonymous {
  padding: 0.5em;
  margin-bottom: 2em;
  font-size: 1.3em;
  cursor: pointer;
}

footer fieldset input[type="submit"] {
  border-radius: 1em;
  color: #000;
  font-size: 1.3em;
  font-weight: 600;
  background: #c50a0aa1;
  padding: .5em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer fieldset input[type="submit"]:hover {
  background: #C50A0A;
  cursor: pointer;
  color: #FFF;
}

.git {
  position: relative;
  margin: 5em auto -1em;
  width: 100%;
  height: 3em;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.git img {
  width: 2em;
}

@media only screen and (max-width: 1250px) {
  aside div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5em;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media only screen and (max-width: 800px) {
  img.background {
    display: none;
  }
  .mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: url(../images/institut.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -4;
  }
  svg {
    display: none;
  }
  header .logo {
    margin-top: 18em;
  }
  main {
    margin: 0;
    margin-bottom: 8em;
  }
  footer {
    margin-top: 8em;
  }
  footer fieldset {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */